body{
    background-color:rgb(249, 231, 209);
}
.whole-container{
    height: 230vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container2{
    width: 700px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
.image{
    height: 250px;
    width: 700px;
    border-radius: 10px;
}
.para1{
    font-family: 'Outfit';
    font-weight:400;
    color:hsl(30, 10%, 34%);
}
.head{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Young Serif';
    font-weight:  400;
    color: hsl(30, 2%, 22%);
}
.para{
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit';
    font-weight:400;
}
.prep{
    background-color: hsl(330, 56%, 85%);
    padding: 5px;
    border-radius: 5px;
}
span{
    font-weight: bold;
}
.sen{
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    padding: 5px;
    font-family: 'Outfit';
    padding-bottom: 5px;
    font-weight:400 ;
}
.head2{
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Young Serif';
    font-weight:  400;
    padding-left: 5px;
}
.head3{
    color: hsl(32, 84%, 25%);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Young Serif';
    font-weight:  400;
}
.head4{
    color: hsl(32, 84%, 25%);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Young Serif';
    font-weight:  400;
}
li::marker{
    color: hsl(32, 84%, 25%);
}
.bullet{
    padding-left: 10px;
    border-color: hsl(30, 10%, 34%);
    padding-bottom: 10px;
    font-family: 'Outfit';
    font-weight:400 ;
    list-style-type: none;  
}
.line{
   display: flex;
   border-bottom: 1px solid rgba(0, 0, 0, 0.292)  ;
   padding-left: 50px;
   padding-bottom: 10px;
}
.lin{
    display: flex;
    padding-left: 50px;
}
.value{
    flex: 1;
    color:hsl(32, 84%, 25%) ;
    font-weight: bolder;
}     
label{
    flex: 1;
    font-family:'Outfit' ;
    color:hsl(30, 10%, 34%) ;
    font-weight:400;
    margin-left: 30px;
}
.value1{
    flex: 1;
    color: hsl(32, 84%, 25%);
    font-weight: bolder;
}
.bullet li{
    padding-top: 10px;
    padding-left: 10px;
}